<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <!-- These could be heading elements. -->
      <div class="welcome">NAN-IPISS</div>
      <div class="hint">ระบบบริหารแผนและงบประมาณแบบบูรณาการ</div>
      <div class="hint" *ngIf="!isProd">[Developer]</div>
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">username</label>
        <input type="text" autocomplete="username" name="username" clrInput placeholder="Enter username"
          [(ngModel)]="username" />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" autocomplete="current-password" name="password" clrPassword placeholder="Enter password"
          [(ngModel)]="password" />
      </clr-password-container>
      <div class="error active" *ngIf="isError">{{msgError}}</div>
      <button (click)="onClickLogin()" [disabled]="isDisabled" class="btn btn-primary">Log in</button>
      <span class="signup">Sign up for an account</span>
    </div>
  </form>
</div>

<app-loading *ngIf="showLoading"></app-loading>