<div class="card">
   <div class="card-block">
       <div class="card-text">
        dashboard
        <div class="clr-row">

            <div class="clr-col-4">
                <div class="card">
                   <div class="card-block">
                       <div class="card-text">
                         <img src="https://semantic-ui.com/images/wireframe/image.png" style="width:100%" alt="">
                       </div>
                   </div>
                </div>
            </div>
            <div class="clr-col-4"><div class="card">
                <div class="card-block">
                    <div class="card-text">
                        <img src="https://semantic-ui.com/images/wireframe/image.png" style="width:100%" alt="">
                    </div>
                </div>
             </div></div>
            <div class="clr-col-4"><div class="card">
                <div class="card-block">
                    <div class="card-text">
                        <img src="https://semantic-ui.com/images/wireframe/image.png" style="width:100%" alt="">
                    </div>
                </div>
             </div></div>
        </div>
       </div>
   </div>
<button class="btn btn-block btn-primary" [routerLink]="['/login']">Go to Login </button>
</div>